<a href="https://colab.research.google.com/github/irisroques/falhas-em-agentes/blob/main/deteccao_de_falhas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Detecção de Falhas em Sensores em Sistemas Multiagente

In [ ]:
!pip install mesa

Collecting mesa
  Downloading https://files.pythonhosted.org/packages/3b/f1/f1d6ac8cd6e66cc2d0d1f9d631877110e87a74f113e6e3227e9054e09176/Mesa-0.8.9-py3-none-any.whl (668kB)
     |████████████████████████████████| 675kB 4.1MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from mesa) (1.19.5)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mesa) (2.5.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from mesa) (7.1.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from mesa) (1.1.5)
Collecting cookiecutter
  Downloading https://files.pythonhosted.org/packages/a2/62/d061b19f307455506e63825586e2e1816b71d56b4a5873c278cb315b9660/cookiecutter-1.7.3-py2.py3-none-any.whl
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from mesa) (4.41.1)
Requirement already satisfied: tornado in /usr/local/lib/python3.7/dist-packages (from mesa) (5.1.1)
Requirement already satisfied: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx->mesa) (4.4.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->mesa) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->mesa) (2018.9)
Collecting poyo>=0.5.0
  Downloading https://files.pythonhosted.org/packages/42/50/0b0820601bde2eda403f47b9a4a1f270098ed0dd4c00c443d883164bdccc/poyo-0.5.0-py2.py3-none-any.whl
Requirement already satisfied: python-slugify>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from cookiecutter->mesa) (5.0.2)
Requirement already satisfied: Jinja2<4.0.0,>=2.7 in /usr/local/lib/python3.7/dist-packages (from cookiecutter->mesa) (2.11.3)
Collecting jinja2-time>=0.2.0
  Downloading https://files.pythonhosted.org/packages/6a/a1/d44fa38306ffa34a7e1af09632b158e13ec89670ce491f8a15af3ebcb4e4/jinja2_time-0.2.0-py2.py3-none-any.whl
Collecting binaryornot>=0.4.4
  Downloading https://files.pythonhosted.org/packages/24/7e/f7b6f453e6481d1e233540262ccbfcf89adcd43606f44a028d7f5fae5eb2/binaryornot-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: requests>=2.23.0 in /usr/local/lib/python3.7/dist-packages (from cookiecutter->mesa) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from cookiecutter->mesa) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify>=4.0.0->cookiecutter->mesa) (1.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<4.0.0,>=2.7->cookiecutter->mesa) (2.0.1)
Collecting arrow
  Downloading https://files.pythonhosted.org/packages/e3/3a/dcb889af8de025f1fca9afd47f52726e24f4bc10aab3bc88a609cdd30250/arrow-1.1.0-py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 5.7MB/s
Requirement already satisfied: chardet>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from binaryornot>=0.4.4->cookiecutter->mesa) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->cookiecutter->mesa) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->cookiecutter->mesa) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.23.0->cookiecutter->mesa) (2021.5.30)
Requirement already satisfied: typing-extensions; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from arrow->jinja2-time>=0.2.0->cookiecutter->mesa) (3.7.4.3)
Installing collected packages: poyo, arrow, jinja2-time, binaryornot, cookiecutter, mesa
Successfully installed arrow-1.1.0 binaryornot-0.4.4 cookiecutter-1.7.3 jinja2-time-0.2.0 mesa-0.8.9 poyo-0.5.0

In [ ]:
#Carregando datasets
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd 
df=pd.read_csv('gdrive/My Drive/sensor.csv')
df.head()

   Unnamed: 0            timestamp  ...  sensor_51  machine_status
0           0  2018-04-01 00:00:00  ...   201.3889          NORMAL
1           1  2018-04-01 00:01:00  ...   201.3889          NORMAL
2           2  2018-04-01 00:02:00  ...   203.7037          NORMAL
3           3  2018-04-01 00:03:00  ...   203.1250          NORMAL
4           4  2018-04-01 00:04:00  ...   201.3889          NORMAL

[5 rows x 55 columns]

# Pre Processamento

In [ ]:
# Pre Processamento 
import numpy as np 
sensor = df.drop(['timestamp'], axis=1)
sensor = sensor.reset_index()
sensor.replace(np.nan, 0, inplace=True) #substituindo valores NaN por 0
sensor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220320 entries, 0 to 220319
Data columns (total 55 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   index           220320 non-null  int64
 1   Unnamed: 0      220320 non-null  int64
 2   sensor_00       220320 non-null  float64
 3   sensor_01       220320 non-null  float64
 4   sensor_02       220320 non-null  float64
 5   sensor_03       220320 non-null  float64
 6   sensor_04       220320 non-null  float64
 7   sensor_05       220320 non-null  float64
 8   sensor_06       220320 non-null  float64
 9   sensor_07       220320 non-null  float64
 10  sensor_08       220320 non-null  float64
 11  sensor_09       220320 non-null  float64
 12  sensor_10       220320 non-null  float64
 13  sensor_11       220320 non-null  float64
 14  sensor_12       220320 non-null  float64
 15  sensor_13       220320 non-null  float64
 16  sensor_14       220320 non-null  float64
 17  sensor_15       220320 non-null  float64
 18  sensor_16       220320 non-null  float64
 19  sensor_17       220320 non-null  float64
 20  sensor_18       220320 non-null  float64
 21  sensor_19       220320 non-null  float64
 22  sensor_20       220320 non-null  float64
 23  sensor_21       220320 non-null  float64
 24  sensor_22       220320 non-null  float64
 25  sensor_23       220320 non-null  float64
 26  sensor_24       220320 non-null  float64
 27  sensor_25       220320 non-null  float64
 28  sensor_26       220320 non-null  float64
 29  sensor_27       220320 non-null  float64
 30  sensor_28       220320 non-null  float64
 31  sensor_29       220320 non-null  float64
 32  sensor_30       220320 non-null  float64
 33  sensor_31       220320 non-null  float64
 34  sensor_32       220320 non-null  float64
 35  sensor_33       220320 non-null  float64
 36  sensor_34       220320 non-null  float64
 37  sensor_35       220320 non-null  float64
 38  sensor_36       220320 non-null  float64
 39  sensor_37       220320 non-null  float64
 40  sensor_38       220320 non-null  float64
 41  sensor_39       220320 non-null  float64
 42  sensor_40       220320 non-null  float64
 43  sensor_41       220320 non-null  float64
 44  sensor_42       220320 non-null  float64
 45  sensor_43       220320 non-null  float64
 46  sensor_44       220320 non-null  float64
 47  sensor_45       220320 non-null  float64
 48  sensor_46       220320 non-null  float64
 49  sensor_47       220320 non-null  float64
 50  sensor_48       220320 non-null  float64
 51  sensor_49       220320 non-null  float64
 52  sensor_50       220320 non-null  float64
 53  sensor_51       220320 non-null  float64
 54  machine_status  220320 non-null  object
dtypes: float64(52), int64(2), object(1)
memory usage: 92.5+ MB

# Componente de Aprendizagem

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
import seaborn as sns

X = sensor.drop('machine_status', axis=1)
y = sensor['machine_status'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

In [ ]:
 #Gaussian Naive Bayes

gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print(y_pred)
print("Number of mislabeled points out of a total %d points : %d"
% (X_test.shape[0], (y_test != y_pred).sum())) # 2% de erro

['NORMAL' 'NORMAL' 'NORMAL' ... 'RECOVERING' 'NORMAL' 'NORMAL']
Number of mislabeled points out of a total 110160 points : 2275

# Tomada de Decisão

In [54]:
alvos = pd.DataFrame(y_pred)
alvos = alvos.astype(str)
alvos.rename(columns={0: 'machine_status'}, inplace=True)
teste = pd.concat([X_test,alvos])


deletados = teste.drop(teste[teste['machine_status'] == "BROKEN"].index)

O ALVO PODE TER 3 VALORES ['NORMAL', 'RECOVERING', 'BROKEN']

# Agentes

In [ ]:
import csv
import random
from mesa import Agent, Model
from mesa.time import RandomActivation
from mesa.space import MultiGrid

class ConsumerAgent(Agent):

    def __init__(self, name, model, ratingarray):
        super().__init__(name, model) 
        self.name = name
        self.rate[i] = ratingarray


    def step(self):
         print("agent {}  was activated".format(self.name))
         # Whatever else the agent does when activated


class ProductEvalModel(Model):

    def __init__(self, n_agents):
       self.schedule = RandomActivation(self)
       self.grid = MultiGrid(10, 10, torus=True)
       # you could also just pass it in as a parameter, but I usually make it an 
       #attribute of the model
       self.ratingarray = [[sensor_00],[sensor_01],[sensor_02],[sensor_03],[sensor_04],[sensor_05],[sensor_06],[sensor_07],[sensor_08],[sensor_09],
                           [sensor_10],[sensor_11],[sensor_12],[sensor_13],[sensor_14],[sensor_15],[sensor_16],[sensor_17],[sensor_18],[sensor_19],[sensor_20],[sensor_21],[sensor_22],[sensor_23],[sensor_24],[sensor_25],[sensor_26],[sensor_27],[sensor_28],[sensor_29],
                           [sensor_30],[sensor_31],[sensor_32],[sensor_33],[sensor_34],[sensor_35],[sensor_36],[sensor_37],[sensor_38],[sensor_39],
                           [sensor_40],[sensor_41],[sensor_42],[sensor_43],[sensor_44],[sensor_45],[sensor_46],[sensor_47],[sensor_48],[sensor_49],
                           [sensor_50],[sensor_51],[machine_status]] 


    for i in range(n_agents):
        a = ConsumerAgent(i, self, self.ratingarray[i]) #passes in row of data
                                                        #to be agent attribute
        self.schedule.add(a)
        coords = (random.randrange(0, 10), random.randrange(0, 10))
        self.grid.place_agent(a, coords)

    def step(self):
       self.schedule.step()
       #self.dc.collect(self)

# Referencias 

Instalando Framework Mesa https://mesa.readthedocs.io/en/stable/

Base de dados disponivel em https://www.kaggle.com/nphantawee/pump-sensor-data